<nav>
    <ul>    
        <li><a href="/display"id="frame"style="font-size: 30px; color: rgb(96, 41, 117);" >Przeglądanie</a></li><br><br>
        <li><a href="/opinion1"id="frame"style="font-size: 30px; color: rgb(96, 41, 117);">Dodaj Opinie</a></li><br><br>  
        <li><a href="/addBook"id="frame"style="font-size: 30px; color: rgb(96, 41, 117);">Wprowadzanie</a></li><br><br>
        <li><a href="/correction"id="frame"style="font-size: 30px; color: rgb(96, 41, 117);">Korekty</a></li><br><br>
        <li><a href="/del"id="frame"style="font-size: 30px; color: rgb(96, 41, 117);">Usuwanie</a></li><br><br>
        <li><a href="/help"id="frame"style="font-size: 30px; color: rgb(96, 41, 117);">Help</a></li>
    </ul>
    </nav>