<header>
    <nav>
        <a href="/"><button class="custom-button">STRONA GŁÓWNA</button></a> 
        <a href="/display"><button class="custom-button">Przeglądanie</button></a>  
        <a href="/opinion1"><button class="custom-button">Dodaj Opinię</button></a>
        <a href="/addBook"><button class="custom-button">Wprowadzanie</button></a>  
        <a href="/correction"><button class="custom-button">Korekty</button></a>  
        <a href="/del"><button class="custom-button">Usuwanie</button></a>
    </nav> 
</header>