<html lang="pl">
  <%- include ('partials/head')%> 
     
      <body>
        <%- include ('partials/navigation')%>
        <h1> <%= h1 %></h1>  
       <p1><%= message %> </p1>  
        <img id="powiekszony-obrazek" src="obraz1.jpg" ><br>
        
        <br>
        <div>
          <form method="POST" action="/correction">
       <p>Prosze podac numer książki której dane bedziemy korygować: </p>  
       <input type="number" name="id" placeholder="Numer Ksiażki" min="1" required/>
       <input type="submit" value="Wybierz">
          </form >
      </body>
     
    </html>
     