 
  <html lang="pl">
      <%- include ('partials/head')%> 
           
            <body>
              <%- include ('partials/navigation')%>
              <h1> <%= h1 %></h1>  
             <p1><%= message %> </p1>  
     
             <img id="powiekszony-obrazek" src="obraz2.jpg"  >
             <br><br><br>
        
             <form action="/del" method="POST">
               <label for="id">Podaj nr id ksiązki którą chcesz usunąć:</label>
               <input type="number" id="id" name="id" required>
               <button type="submit">USUŃ</button>
            </form>
           </body>
           </html>
 