 
     
  <html lang="pl">
    <%- include ('partials/head')%> 
         
          <body>
            <%- include ('partials/navigation')%>
            <h1> <%= h1 %></h1>  
                              
        <img id="powiekszony-obrazek1" src="help.jpg">
       <p><br>
         1. Przegladanie - umożliwia zobaczenie<br>
          wszystkich książek wprowadzonych<br> do biblioteki.<br><br>
         2. Dodawanie opini - użytkownicy mogą<br> wybrać ocenę od 1 do 5, <br>
         wszystkie są sumowane i dzięki<br>temu inne osoby przeglądające<br>
         bibliotekę mogą się zorientować jak<br> przyjmowane są dane książki.<br><br>
         3. Wprowadzanie - umożliwia  dodanie <br>nowej pozycji do naszej bazy książek.<br><br>
         4. Korekta - za pomocą tej opcji<br> można dowolnie zmieniać <br>
         informacje o wybranej książce.<br><br>
         5. Usuwanie - opcja kasuje nieaktualne<br> książki z wykazu. Konieczne jest<br>aby przed jej wykonaniem <br>
         w celu bezpieczeństwa użytkownik <br>był zalogowany.<br><br>
        </p>
        <p1>W razie problemów prosimy o kontakt <br> mail :  helpBazaKsiazek@gmail.com</p1>
      </body>
      
    </html>