
<html lang="pl">
  <%- include ('partials/head')%> 
       
    <body>
      <h1> <%= h1 %></h1><br><br><br>  
      <%- include ('partials/navigationHome')%>
      <img id="powiekszony-obrazek1" src="obraz.jpg" >
      <br>
      <button onclick="window.location.href='/logout'" id="frame1"color: rgb(96, 41, 117);>Wylogowanie</button>
      <button onclick="window.location.href='/authorize'" id="frame2"color: rgb(96, 41, 117);>Logowanie</button>
      
    </body>
</html>